header {
  background-image: url("../../assets/mobile/image-hero.jpg");
  background-size: cover;
  background-position: top left;
  max-height: fit-content;
  height: 100vh;
  font-family: $josefin-sans;
}

