/* Importar fuentes de Google */

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

/* Primary Colors */
$white: #ffffff;
$black: #000000;
$dark-gray: #8c8c8c;
$very-dark-gray: #696969;

/* Tamaño de la fuente standard */
$font-size: 15px;

/* Fuentes Google */
$font-alata: "Alata", sans-serif;
$font-josefin: "Josefin Sans", sans-serif;
